/CNDH
/CNDHnotText
/image2Text.ipynb
/PrevCode
/Results
/SEGUNDO PAQUETE ESTADOS
/venv
/uglyimg
/municipiosPDF
/PUEBLA
/PUEBLA - Copy
/ESTADOSnotText
/ESTADOS
/Bandos Manuales.xlsx
/ESTADOS.zip
/ResumenIMGS.csv
/Resumen.csv
/Reshape Resumen.csv
/Resumen Puebla.csv
/Resumen ESTADOS.csv